@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: inter;
   
}

.cabecalho{
    background-color: #3750B3;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 71px;
    
    

   
    
}
.list{
    display: flex;
    list-style: none;
    font-size: 12px;
    align-items: center;
    margin-right: 120px;
    font-weight: 400;
     
    
}

.list-item{
    padding: 18px;
    height: 15px;
    align-items: center;
}

.logo{
    width:34px;
    height: 15px;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 120px;
    font-size: 12px;


}

.img{
    background-image: url(../assets/Rectangle\ 3\ \(1\).png);
    background-position: center;
    background-size: cover;
    margin: 56px;
    width: 400px;
    height: 400px;
    
}

    .container{
        display: flex;
    }